// Colors

$black: #000000;
$light-black: #090909;
$darker-grey: #1F1F1F;
$dark-grey: #3D3D3D;
$white: #ffffff;
$light-grey: #7A7A7A;
$purple: #4360DF;
$dark-purple: #1C36AA;
$lighter-grey: #9E9E9E;

// Font Family

// @font-face {
//     font-family: 'Manrope';
//     src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
//         url('../fonts/Manrope-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }