// Colors

$black: #000000;
$light-black: #2B2B2B;
$darker-grey: #1F1F1F;
$dark-grey: #3D3D3D;
$white: #ffffff;
$slight-grey: #F2F2F2;
$light-grey: #7A7A7A;
$purple: #4360DF;
$dark-purple: #1C36AA;
$lighter-grey: #9E9E9E;