<header>
   <div class="container-fluid">
       <div class="row">
           <div class="col-md-12">
               <div class="nav-section">
                   <div class="logo-inner">
                        <a href="/" class="logo"><%- image_tag("img/logo.svg") %></a>
                   </div>
                    <a href="#" class="menu-trigger"><%- image_tag("img/menu.svg") %></a>
               </div>
           </div>
       </div>
   </div>
</header>
