<!-- INTRO-SECTION -->
<section class="intro about-intro">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h1>A Network <br> Creating Change</h1>
				<p class="teaser-2">The Status Network is an open set of projects working toward the same mission – to enable people their own means for money, communication, law, and through privacy, preserve culture.</p>
				<p class="teaser-2">We build financial and social technology that empowers people to build their own sovereign societies.</p>
				<ul class="inline-links">
					<li><a href="#" class="link-arrow"><%- image_tag("img/arrow-bottom.svg") %></a></li>
					<li><a href="#" class="link-arrow">What we build</a></li>
					<li><a href="#" class="link-arrow">Why we build it</a></li>
					<li><a href="#" class="link-arrow">Sovereign Societies</a></li>
					<li><a href="#" class="link-arrow">Our Principles</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- END-INTRO-SECTION -->

<!-- WHAT-WE-BUILD -->
<section class="what-we-build">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="inner">
					<h2 class="mb-50">What we build</h2>
					<p class="teaser-2 mb-50">We build on the entire technology stack from low level protocols, to developer tools, to consumer products & applications. Our technology aim is to remove the need for third parties and preserve privacy and security for all. </p>
					<p class="teaser-2">Collectively we build a powerful suite to support soverign economies around the world.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ul>
					<li>
						<h4 class="m-b-30">Implementation</h4>
						<p>We support the growth of the network and implement our tech where needed most.</p>
					</li>
					<li>
						<h4 class="m-b-30">Products</h4>
						<p>Applications, hardware, services that allow real people to leverage the power of web3.</p>
					</li>
					<li>
						<h4 class="m-b-30">Developer Tools</h4>
						<p>Frameworks and developer tools to help technologists build the products and services needed.</p>
					</li>
					<li>
						<h4 class="m-b-30">Infrastructure</h4>
						<p>We build the low level protocols for secure communication and built for resource restricted devices - making the technology accesible to all.</p>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<div class="inner-img">
					<a href="#"><%- image_tag("img/infografic.png") %></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END-WHAT-WE-BUILD -->

<!-- WHY-WE-BUILD -->
<section class="why-we-build">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="inner">
					<h2 class="mb-50">Why we build it</h2>
					<p class="teaser-2 mb-50">Freedom is threatened around the world with government surveillance, third party censorship, and volatile economies. The world is nearing 1 billion people living in slums, and over 10% of the world's population lives on less than $1.90 per day. Lives are bound by factors outside of individual control. It is a fundamental right to have the means for financial independence, voice, and sovereignty.</p>
					<p class="teaser-2  mb-50">Our principles drive us to build the means for freedom to anyone who wants to take control back into their own hands.</p>
					<a href="#" class="link-arrow"><%- image_tag("img/arrow-right.svg") %>See the Principles</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END-WHY-WE-BUILD -->

<!-- SOVEREIGN-SOCIETY -->
<section class="sovereign-society">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2 class="mb-50">What is a sovereign society?</h2>
				<p class="teaser-2">Sovereignty is assurance of the freedom to govern oneself. A society needs three core pillars to stand up and govern itself.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="inner">
					<span>I.</span>
					<h5>The means to build a secure economy.</h5>
				</div>
			</div>
			<div class="col-md-4">
				<div class="inner">
					<span>II.</span>
					<h5>The means to communicate securely.</h5>
				</div>
			</div>
			<div class="col-md-4">
				<div class="inner">
					<span>III.</span>
					<h5>The will to do both.</h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<p class="teaser-2">The Status Network ships open-source solutions to empower people and societies. With open and secure financial and social tech, we empower any person or society to build a sovereign, permissionless space of their own.</p>
			</div>
		</div>
	</div>
</section>
<!-- END-SOVEREIGN-SOCIETY -->