<!-- INTRO-SECTION -->
<section class="intro about-intro pt-150">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h1 class="mb-50">A Network <br> Creating Change</h1>
				<p class="teaser-2">The Status Network is an open set of projects building peer-to-peer technologies for people to transact securely, communicate freely, and organize with confidence. </p>
				<p class="teaser-2">Together, we build financial and social technology that empowers people to advance their own sovereign communities.</p>
				<ul class="inline-links">
					<li><svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M16 8.75369C16 8.30652 15.833 7.85996 15.5005 7.51727C14.8356 6.83187 13.7655 6.83187 13.1006 7.51727L9.69725 11.0245V1.74945C9.69725 0.780154 8.9395 0 7.99915 0C7.05881 0 6.30195 0.780154 6.30195 1.74945V11.0254L2.89859 7.51727C2.23367 6.83187 1.16362 6.83187 0.498695 7.51727C-0.166232 8.20266 -0.166232 9.30564 0.498695 9.99104L6.79965 16.486C7.46458 17.1713 8.53462 17.1713 9.19955 16.486L15.5005 9.99104C15.833 9.64834 16 9.20087 16 8.75369Z" fill="#4360DF"/> </svg></li>
					<li><a href="#what" class="link-arrow">What we build</a></li>
					<li><a href="#why" class="link-arrow">Why we build it</a></li>
					<li><a href="#society" class="link-arrow">Sovereign Societies</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- END-INTRO-SECTION -->

<!-- WHAT-WE-BUILD -->
<section class="what-we-build pt-150 pb-150" id="what">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="inner">
					<h2 class="mb-50">What we build</h2>
					<p class="teaser-2">The Network is building a new decentralized technology stack from low level protocols, to developer tools, to consumer products & applications. Our focus is on security, privacy, and peer-to-peer infrastructure and experiences.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-5 mr-auto">
				<ul>
					<li>
						<h4 class="mb-30">Implementation</h4>
						<p>We support the growth of the network and implement our tech where needed most.</p>
					</li>
					<li>
						<h4 class="mb-30">Products</h4>
						<p>Applications, hardware, services that allow real people to leverage the power of web3.</p>
					</li>
					<li>
						<h4 class="mb-30">Developer Tools</h4>
						<p>Frameworks and developer tools to help technologists build the products and services needed.</p>
					</li>
					<li>
						<h4 class="mb-30">Infrastructure</h4>
						<p>We build the low level protocols for secure communication and built for resource restricted devices - making the technology accesible to all.</p>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<div class="inner-img">
					<%- image_tag("img/infografic.png") %>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END-WHAT-WE-BUILD -->

<!-- WHY-WE-BUILD -->
<section class="why-we-build pt-150 pb-150" id="why">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="inner">
					<h2 class="mb-50">Why we build it</h2>
					<p class="teaser-2 mb-50">Our principles drive us to build the means for freedom to anyone who wants to take control back into their own hands. Because we believe that having the means for financial independence, free expression, and community sovereignty should be fundamental human rights.</p>
					<p class="teaser-2  mb-50">Sovereign communities are emerging around the world, and they may flourish by migrating to more resilient internet infrastructure - free from surveillance and centralized banking systems.</p>
					<p class="teaser-2  mb-50">By providing open, secure internet infrastructure, we hope to empower emerging communities with resilient means to organize, govern, and build their own economic systems free from surveillance and central banking. This encourages emerging communities to harness individual human rights - liberty, privacy, transparency - as the default optimal structure for their communities.</p>
					<p class="teaser-2  mb-50">We believe advancements in p2p and blockchain technologies will result in a more resilient, secure internet that fosters economic opportunity and upholds human rights.</p>
					<p class="teaser-2  mb-50">We aim to empower local communities that seek greater sovereignty, by providing the necessary tools and infrastructure to communicate, organize, and govern themselves - free from surveillance and centralized institutions.</p>
					<a href="#" class="link-arrow"><svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.25369 0.5C8.80652 0.5 8.35996 0.667031 8.01727 0.999494C7.33187 1.66442 7.33187 2.73446 8.01727 3.39939L11.5245 6.80275H2.24945C1.28015 6.80275 0.5 7.5605 0.5 8.50085C0.5 9.44119 1.28015 10.1981 2.24945 10.1981H11.5254L8.01727 13.6014C7.33187 14.2663 7.33187 15.3364 8.01727 16.0013C8.70266 16.6662 9.80564 16.6662 10.491 16.0013L16.986 9.70035C17.6713 9.03542 17.6713 7.96538 16.986 7.30045L10.491 0.999494C10.1483 0.66703 9.70087 0.5 9.25369 0.5Z" fill="#4360DF"/> </svg> Learn More About Sovereign Communities</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END-WHY-WE-BUILD -->

<!-- SOVEREIGN-SOCIETY -->
<section class="sovereign-society pt-150 pb-150" id="society">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2 class="mb-50">How can The Status Network help sovereign communities?</h2>
				<p class="teaser-2">Every individual and community has different needs. The Status Network provides modular sets of tools and infrastructure to help diverse communities around the globe thrive.</p>
			</div>
		</div>
		<div class="row mb-50">
			<div class="col-md-4 d-flex flex-column mt-30">
				<div class="inner ">
					<span>I.</span>
					<h5><b>Communication</b> The means to build a secure economy.</h5>
				</div>
			</div>
			<div class="col-md-4 d-flex flex-column mt-30">
				<div class="inner ">
					<span>II.</span>
					<h5><b>Commerce </b> Tools to trade and access open financial services.</h5>
				</div>
			</div>
			<div class="col-md-4 d-flex flex-column mt-30">
				<div class="inner ">
					<span>III.</span>
					<h5><b>Mobile</b> Enables equal access even in the most remote areas in the world.</h5>
				</div>
			</div>
			<div class="col-md-4 d-flex flex-column mt-30">
				<div class="inner">
					<span>IV.</span>
					<h5><b>Decentralized</b> Neutral underlying p2p protocols that aren't controlled by a single company or person.</h5>
				</div>
			</div>
			<div class="col-md-4 d-flex flex-column mt-30">
				<div class="inner">
					<span>V.</span>
					<h5><b>Open Source</b> Software for developers to harness a p2p stack to create their own applications that uphold human rights and fosters economic opportunity.</h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<p class="teaser-2">The Status Network ships open-source solutions to empower people and societies. With open and secure financial and social tech, we empower any person or society to build a sovereign, permissionless space of their own.</p>
			</div>
		</div>
	</div>
</section>
<!-- END-SOVEREIGN-SOCIETY -->