<!-- INTRO-SECTION -->
<section class="intro about-intro pt-150">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h1 class="mb-50">A Network <br> Creating Change</h1>
				<div class="row">
					<div class="col-md-9">
						<p class="teaser-2">The Status Network is an open set of projects building peer-to-peer technologies for people to transact securely, communicate freely, and organize with confidence. </p>
						<p class="teaser-2">Together, we build financial and social technology that empowers people to advance their own sovereign communities.</p>
					</div>
				</div>
				<ul class="inline-links">
					<li><svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M16 8.75369C16 8.30652 15.833 7.85996 15.5005 7.51727C14.8356 6.83187 13.7655 6.83187 13.1006 7.51727L9.69725 11.0245V1.74945C9.69725 0.780154 8.9395 0 7.99915 0C7.05881 0 6.30195 0.780154 6.30195 1.74945V11.0254L2.89859 7.51727C2.23367 6.83187 1.16362 6.83187 0.498695 7.51727C-0.166232 8.20266 -0.166232 9.30564 0.498695 9.99104L6.79965 16.486C7.46458 17.1713 8.53462 17.1713 9.19955 16.486L15.5005 9.99104C15.833 9.64834 16 9.20087 16 8.75369Z" fill="#4360DF"/> </svg></li>
					<li><a href="#what" class="link-arrow">What we build</a></li>
					<li><a href="#why" class="link-arrow">Why we build it</a></li>
					<li><a href="#society" class="link-arrow">Sovereign Societies</a></li>
					<li><a href="/principles/" class="link-arrow">The Principles</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- END-INTRO-SECTION -->

<!-- WHAT-WE-BUILD -->
<section class="what-we-build pt-150 pb-150" id="what">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="inner">
					<h2 class="mb-50">What we build</h2>
					<p class="teaser-2">The Network is building a new decentralized technology stack from low level protocols, to developer tools, to consumer products & applications. Our focus is on security, privacy, and peer-to-peer infrastructure and experiences.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-5 mr-auto">
				<ul>
					<li>
						<h4 class="mb-30">Products</h4>
						<p>Products to enable local societies and economies to thrive despite volatile governments, social structures, and economies.</p>
					</li>
					<li>
						<h4 class="mb-30">Developer Tools</h4>
						<p>Tooling and systems to allow others to build new products and services suited to their specific needs.</p>
					</li>
					<li>
						<h4 class="mb-30">Infrastructure</h4>
						<p>Infrastructure for local communities to take back sovereignty and remove the reliance on third parties.</p>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<div class="inner-img">
					<%- image_tag("img/infographic.png") %>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END-WHAT-WE-BUILD -->

<!-- WHY-WE-BUILD -->
<section class="why-we-build pt-150 pb-150" id="why">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="inner">
					<h2 class="mb-50">Why we build it</h2>
					<p class="teaser-2 mb-50">Our principles drive us to build the means for freedom to anyone who wants to take control back into their own hands. Because we believe that having the means for financial independence, free expression, and community sovereignty should be fundamental human rights.</p>
					<p class="teaser-2 mb-50">By providing open, secure internet infrastructure, we hope to empower emerging communities with resilient means to organize, govern, and build their own communication and economic systems free from surveillance and central banking. </p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END-WHY-WE-BUILD -->

<!-- SOVEREIGN-SOCIETY -->
<section class="sovereign-society pt-150 pb-150" id="society">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2 class="mb-50">How can The Status Network help sovereign communities?</h2>
				<p class="teaser-2">Every individual and community has different needs. The Status Network provides modular sets of tools and infrastructure to help diverse communities around the globe achieve greater autonomy.</p>
			</div>
		</div>
		<div class="row mb-50">
			<div class="col-md-4 d-flex flex-column mt-30">
				<div class="inner ">
					<span>I.</span>
					<h5><b>Communication</b> Secure apps for private communication and the freedom to organize.</h5>
				</div>
			</div>
			<div class="col-md-4 d-flex flex-column mt-30">
				<div class="inner ">
					<span>II.</span>
					<h5><b>Commerce </b> Tools to trade and access open financial services.</h5>
				</div>
			</div>
			<div class="col-md-4 d-flex flex-column mt-30">
				<div class="inner ">
					<span>III.</span>
					<h5><b>Mobile</b> Enables equal access even in the most remote areas in the world.</h5>
				</div>
			</div>
			<div class="col-md-4 d-flex flex-column mt-30">
				<div class="inner">
					<span>IV.</span>
					<h5><b>Decentralized</b> Neutral underlying p2p protocols that aren't controlled by a single company or person.</h5>
				</div>
			</div>
			<div class="col-md-4 d-flex flex-column mt-30">
				<div class="inner">
					<span>V.</span>
					<h5><b>Open Source</b> Software for developers to harness a p2p stack to create their own applications that uphold human rights and fosters economic opportunity.</h5>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END-SOVEREIGN-SOCIETY -->