<!-- INTRO -->
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="inner pt-150">
                    <h1 class="mb-50">Our Principles</h1>
                    <p class="teaser-2">These principles act as tools. Tools for thinking, for communication, and for decentralized decision making. They keep us honest about where we are failing short of our vision.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END-INTRO -->

<!-- PRINCIPLES -->
<section class="about-principles" id="our-principles">
    <div class="container">
        <div class="row roman-list">
            <div class="col-md-6">
                <h4 class="m-b-25" data-roman="I">Liberty</h4>
                <p>We believe in the sovereignty of individuals. As a platform that stands for the cause of personal liberty, we aim to maximize social, political, and economic freedoms. This includes being coercion-resistant.</p>
            </div>
            <div class="col-md-6">
                <h4 class="m-b-25" data-roman="II">Censorship Resistance</h4>
                <p>We enable free flow of information. No content is under surveillance. We abide by the cryptoeconomic design principle of censorship resistance. Even stronger, Status is an agnostic platform for information.</p>
            </div>
            <div class="col-md-6">
                <h4 class="m-b-25 m-t-90" data-roman="III">Security</h4>
                <p>We don't compromise on security when building features. We use state-of-the-art technologies, and research new security methods and technologies to make strong security guarantees.</p>
            </div>
            <div class="col-md-6">
                <h4 class="m-b-25 m-t-90" data-roman="IV">Privacy</h4>
                <p>Privacy is the power to selectively reveal oneself to the world. For us, it's essential to protect privacy in both communications and transactions, as well as being a pseudo-anonymous platform. Additionally, we strive to provide the right of total anonymity.</p>
            </div>
            <div class="col-md-6">
                <h4 class="m-b-25 m-t-90" data-roman="V">Transparency</h4>
                <p>We strive for complete openness and symmetry of information within the organization, and have no border between our core contributors and our community. We are frank about our shortcomings, especially when making short-term tradeoffs in service of our long-term goals.</p>
            </div>
            <div class="col-md-6">
                <h4 class="m-b-25 m-t-90" data-roman="VI">Openness</h4>
                <p>The software we create is a public good. It is made available via a free and open source license, for anyone to share, modify and benefit from. We believe in permission-less participation.</p>
            </div>
            <div class="col-md-6">
                <h4 class="m-b-25 m-t-90" data-roman="VII">Decentralization</h4>
                <p>We minimize centralization across both the software and the organization itself. In other words, we maximize the number of physical computers composing the network, and maximize the number of individuals who have control over the system(s) we are building.</p>
            </div>
            <div class="col-md-6">
                <h4 class="m-b-25 m-t-90" data-roman="VIII">Inclusivity</h4>
                <p>We believe in fair and widespread access to our software, with an emphasis on ease-of-use. This also extends to social inclusivity, permissionless participation, interoperability, and investing in educational efforts.</p>
            </div>
            <div class="col-md-6">
                <h4 class="m-b-25 m-t-90" data-roman="IX">Continuance</h4>
                <p>We create software incentivized to continue to exist and improve, without the stewardship of a single entity or any of the current team members.</p>
            </div>
            <div class="col-md-6">
                <h4 class="m-b-25 m-t-90" data-roman="X">Resourcefulness</h4>
                <p>We are relentlessly resourceful. As we grow and have ready access to capital, it is our obligation to token holders to fight bureaucracy and inefficiencies within the organization. This means solving problems in the most effective way possible at lower economic costs (in terms of capital, time and resources).</p>
            </div>
        </div>
    </div>
</section>
<!-- END-PRINCIPLES -->